include ../../system/_mixins
include ../../system/_vars
- var jColorIcons = '4990e2'
- var jColorLeads = 'FFF'

link(rel='stylesheet' href='blocks/navigation/navigation.css')
.navigation
    .container
        .navigation-row
            +navContent
