include ../../system/_mixins
include ../../system/_vars

.range
  .range-slider(id=jRangeID)
link(rel='stylesheet' href='js/vendors/nouislider/nouislider.min.css')
link(rel='stylesheet' href='blocks/range/range.css')
script(src='js/vendors/nouislider/wNumb.js')
script(src='js/vendors/nouislider/nouislider.min.js')
script(src='blocks/range/range.js')
