include ../../system/_mixins
include ../../system/_vars

.social
    a.social__link(href='javascript:void(0);')
        +use('vk', '40', '40', '#00FF00', 'social__icon')
    a.social__link(href='javascript:void(0);')
        +use('f', '40', '40', '#4990e2', 'social__icon')
    a.social__link(href='javascript:void(0);')
        +use('g', '40', '40', '#4990e2', 'social__icon')
    a.social__link(href='javascript:void(0);')
        +use('t', '40', '40', '#4990e2', 'social__icon')
    a.social__link(href='javascript:void(0);')
        +use('instgrm', '40', '40', '#4990e2', 'social__icon')
link(rel='stylesheet' href='blocks/social/social.css')
