@import '../../scss/vars';
@import '../../scss/mixins';
@import "../../../bower_components/susy/sass/susy";

$iconWidth: 48px;
.slider {
  padding: {
    bottom: $vr * 6;
  }
  @include susy-breakpoint(0 $tabletBP) {
      padding: {
        left: 20px;
        right: 20px;
      }
  }
  .container {
    position: relative;
  }
  .card {
    width: 100%;
    margin-bottom: $vr * 6;
    margin-right: 0;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &-prev,
  &-next {
    top: 50%;
    position: absolute;
    margin-top: -$iconWidth / 2;
    cursor: pointer;
    @include susy-breakpoint(0 $tabletBP) {
        display: none;
    }
  }
  &-prev {
    left: -$iconWidth * 2;
  }
  &-next {
    right: -$iconWidth * 2;
  }
  .hot-offer__title {
      @include susy-breakpoint(0 $tabletBP) {
          font-size: 24px;
          line-height: 1.33;
      }
  }
}
