include ../../system/_mixins
include ../../system/_vars
section.benefits
  .container
    h2.benefits__title Преимущество
    .benefits__item
      .benefits__pic
        img(src="/res/benefits/build.png", alt="")
      .benefits__item-title Эксклюзив
      .benefits__text Наша база – это эксклюзивные элитные апартаменты в престижных жилых комплексах.
    .benefits__item
      .benefits__pic
        img(src="/res/benefits/man-message.png", alt="")
      .benefits__item-title Специалисты
      .benefits__text Персональный менеджер будет вести клиента до успешного завершения сделки.
    .benefits__item
      .benefits__pic
        img(src="/res/benefits/heart.png", alt="")
      .benefits__item-title Партнеры
      .benefits__text Среди наших партнеров: банки, дизайнерские и строительные компании, готовые к сотрудничеству с нашими клиентами.
    .benefits__item
      .benefits__pic
        img(src="/res/benefits/bag.png", alt="")
      .benefits__item-title Конфиденциальность
      .benefits__text Мы гарантируем конфиденциальность и юридическое завершение сделки на всех ее этапах.

link(rel='stylesheet' href='blocks/benefits/benefits.css')
