include ../../system/_mixins
include ../../system/_vars
.breadcrumbs
    .container
        .breadcrumbs__item
            a(href="#").breadcrumbs__link Главная
        .breadcrumbs__separator →
        .breadcrumbs__item
            a(href="#").breadcrumbs__link Новости
        .breadcrumbs__separator →
        .breadcrumbs__item
            a(href="#").breadcrumbs__link Элитные жилые комплексы
link(rel='stylesheet' href='blocks/breadcrumbs/breadcrumbs.css')
