- var jTitle = 'Main Page'
include ../system/_vars

<!DOCTYPE html>
html(lang="ru")
  head
    include ../blocks/head/head
  body
    include ../blocks/header/header
    include ../blocks/map/map
    include ../blocks/footer/footer
    include ../blocks/last/last
