- var jTitle = 'Texts Page'
include ../system/_mixins
<!DOCTYPE html>
html(lang="ru")
  head
    include ../blocks/head/head
  body
    .text-content
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      h6 Header 6
      small Small text
      p The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study. The first quarter yields the greatest detail of study. And don’t be fooled but the blotting out of part of the moon when it is not in full moon stage. The phenomenon known as “earthshine” gives you the ability to see the darkened part of the moon with some detail as well, even if the moon is only at quarter or half display.
      ul
        li инновации в сфере маркетинга (применение успешных нестандартных методов продвижения объектов недвижимости);
        li способы взаимодействия с клиентами и партнерами компании (применение современных СRM cистем );
        li система управления продажами (СRM-технологии);
        li система управления продажами (СRM-технологии);
        li система управления продажами (СRM-технологии);
        li система управления продажами (СRM-технологии);
      ol
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
        li подбор рекламных источников, максимально удовлетворяющих требования конкретной сделки;
      table
        thead
          tr
            th #
            th First Name
            th Last Name
            th Username
        tbody
          tr
            td 1
            td John
            td Boo
            td johny81
          tr
            td 2
            td John
            td Boo
            td johny81
          tr
            td 3
            td John
            td Boo
            td johny81
            
    include ../blocks/last/last
    script(src='js/main.js')
