@import '../../scss/vars';
@import '../../scss/mixins';
@import "../../../bower_components/susy/sass/susy";

$color_cluster: $color_ext2;
$clusterFF: $ff;
$clusterFZ: $fz;

.cluster-icon {
  width: 48px;
  height: 48px;
  color: $color_cluster;
  font: {
    size: $clusterFZ;
    family: $clusterFF;
  }
  text-align: center;
}
.placemark-icon {
  width: 48px;
  height: 48px;
  background: {
    image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path fill="#4990E2" d="M24 48s16-16 16-28c0-8.837-7.163-16-16-16S8 11.163 8 20c0 12 16 28 16 28z"/><circle cx="24" cy="20" r="12" fill="#FFF"/><circle cx="24" cy="20" r="8" fill="#7ED321"/></g></svg>');
    position: center;
    repeat: no-repeat;
  }
}
.map {
  position: relative;
  &-counter {
    position: absolute;
    width: 220px;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(#000, 0.4);
    color: $color_cluster;
    border-radius: 4px;
    z-index: 2;
  }
}
.balloon {
  position: relative;
  width: 320px;
  border-radius: 10px;
  background-color: $color_ext2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(42deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    z-index: 2;
    cursor: pointer;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <path fill="#FFF" fill-rule="evenodd" d="M23 10.41L21.59 9 16 14.59 10.41 9 9 10.41 14.59 16 9 21.59 10.41 23 16 17.41 21.59 23 23 21.59 17.41 16z"/>
    </svg>');
  }
  &__pic {
    position: relative;
    display: block;
    width: 100%;
    height: 192px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__property {
    margin: {
      top: $vr;
      bottom: $vr;
      left: $vr * 2;
      right: $vr * 2;
    }
    &-item {
      padding: {
        top: $vr;
        bottom: $vr;
      }
      & + & {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}
