include ../../system/_mixins
include ../../system/_vars

.object
    .container
        .object__id #1289
        .object-row
            h1.object__title Квартира. 133, 00 м², 2-ком.
            .object__prices
                .object__price 190 000 000 ₽
                .object__price-param 42 664 ₽/м²
        .object__contacts
            .object__contacts-item М. Петровско-Разумовская
            .object__contacts-item Республика Москва, Москва, улица Кузнецовский Затон, 20
                .object__phone 
                    button.button.button-md.button-second +7 ... показать номер
        .clearfix
            .object__slider
                include ../object-slider/fotorama
            .object__params
                table.object__params-table
                    tr
                        td ID объекта
                        td 3014
                    tr
                        td Тип недвижимости
                        td офисные помещения
                    tr
                        td Тип сделки
                        td продажа
                    tr
                        td Этаж/Этажность
                        td 2/9
                    tr
                        td Тип здания
                        td нежилое
                    tr
                        td Район
                        td Юго-запад
                    tr
                        td Расстояние до метро на транспорте
                        td 2
                    tr
                        td Расстояние до метро пешком
                        td 10
                    tr
                        td Класс здания
                        td B+
                    tr
                        td Материал стен
                        td кирпичный
                    tr
                        td Отделка
                        td евроремонт
                    tr
                        td Высота потолка 
                        td 3
                    tr
                        td Помещение
                        td с отдельным входом
                    tr
                        td Кондиционирование
                        td есть
                    tr
                        td Паркинг, машиномест
                        td 14
                    tr
                        td Парковка
                        td собственная
                    tr
                        td Тип здания
                        td ОСЗ
        .object__actions
            .pull--left
                a(href='#').object__actions-item
                    +use('visibility', '32', '32', '#4990e2', 'navigation__menu-icon')
                    span Заказать просмотр
                a(href='#').object__actions-item
                    +use('reader', '32', '32', '#4990e2', 'navigation__menu-icon')
                    span Скачать презентацию
            .pull--right
                a(href='#').object__actions-item
                    +use('bookmark-border', '32', '32', '#4990e2', 'navigation__menu-icon')
                    span Избранное
                a.card__compare.object__actions-item(href='#' data-compare-id='123' data-compare-remove='N')
                  .card__compare-state.is-hidden 
                    +usecard('compare-fill', '32', '32', 'card__compare-icon')
                    span.card__compare-text Удалить из сравнения
                  .card__compare-state.is-visible 
                    +usecard('compare', '32', '32', 'card__compare-icon')
                    span.card__compare-text Сравнить
        .object__description
            h4.object__description-title Описание от продавца
            p Spend some quality time with the room you are going to put your new home theater audio system. Believe it or not but the room is as much a component in your home theater system as any of the electronics you will ever buy. Ask yourself which room you will be putting your new system in. Consider whether or not this room is going to be used solely for you system or will it be used for other activities. Will there be any size considerations for the components and speakers you plan on using with the dimensions of the room?
            p Consider drawing a map of your room and sketch the possible placements of your furniture, components and speakers. Measure the room’s dimensions and write them down. Make a list of all the inputs you currently have and will continue to use. Make a list of the inputs you intend to add to your new audio system. You should write down which components are going to need cables and wires. Also, write down the approximate lengths of those cables and wires. Once all of this is worked out carry this information and map with you when you go out to buy your new audio system.
link(rel='stylesheet' href='blocks/object/object.css')
