include ../../system/_mixins
include ../../system/_vars
header.header
    .header__logo
        a(href='/')
          img(src='/img/logo.png' alt='' width='50' height='50').header__logo-img
        .header__logo-text The <br>Expendables <br>Realtors
    .header__contact
        include ../phone/phone
        div
            a.button.button-sm(href='/modals/callback.html' data-modal='callback') Обратный звонок
    .header__mobile-interface
        +use('filtericon', '48', '48', '#7ed321', 'header__filter-btn header__mobile-btn')
        +use('menu', '48', '48', '#' + jColor, 'header__menu-btn header__mobile-btn')
    .header__mobile-title Меню
    +use('close', '48', '48', '#' + jColor, 'header__close')
    .container
        ul.header__nav
          li.header__nav-item
            a.header__nav-link(href='#') О компании
          li.header__nav-item
            a.header__nav-link(href='#') Недвижимость
            div.header__subnav-wp
              ul.header__subnav
                li.header__subnav-item
                  a.header__subnav-link(href='#') Жилая
                li.header__subnav-item
                  a.header__subnav-link(href='#') Загородная
                li.header__subnav-item
                  a.header__subnav-link(href='#') Коммерческая
          li.header__nav-item
            a.header__nav-link(href='#') Услуги
          li.header__nav-item
            a.header__nav-link(href='#') Избранное <span class="header__nav-counter">(0)</span>
        .header__search
          .ui-input.has-postfix
            input(type='search' placeholder='Поиск')
            +use('search', '32', '32', '#' + jColor, 'ui-input-postfix')
        .header__contact-mobile
            include ../phone/phone
            div
                a.button.button-md.button--full.text--center(href='/modals/callback.html' data-modal='callback') Обратный звонок
link(rel='stylesheet' href='blocks/header/header.css')

